.config-panel {
  margin-bottom: 10px;
}

.config-section {
  display: flex;
  justify-content: space-around;
  max-width: 700px;
}

mat-card-title {
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
}

mat-card-actions {
  button {
    &.error-color {
      color: #ec5685;
    }

    &.success-color {
      color: #21a292;
      &:hover {
        background: #f2fffd;
      }
    }
  }
}

::ng-deep {
  mat-icon {
    color: grey;
    &.error-icon-color {
      .mat-badge-content {
        background: #ec5685;
      }
    }
    &.success-icon-color {
      .mat-badge-content {
        background: #21a292;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .config-section {
    flex-direction: column;
  }

  .buttons-and-budges {
    button:nth-child(2) {
      margin-left: 1px;
    }
  }
}
.value-input {
  margin-top: 15px;
  width: 100%;
}

.previous-result {
  margin-top: 20px;
  font-size: 16px;

  .header {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .content {
    margin-top: 10px;
    .entered, .answer {
      margin-bottom: 10px;
    }
  }

  &.success {
    background: #c0fff7;
    color: #0f5132;
  }
  &.error {
    background: #ffe5ed;
    color: #842029;
  }
}

.buttons-and-budges {
  .error  {
    position: relative;
    top: 5px;
  }
  .success  {
    position: relative;
    top: 5px;
    left: 10px;
  }
}

.reset-test {
  margin: 0 15px 15px 0;
}
