.main-container {
  .json-example {
    color: blueviolet;
    background: beige;
    font-style: italic;
    margin-left: 10px;
  }

  .upload-textarea {
    width: 100%;
  }

  .error-message {
    padding-left: 15px;
    font-size: 14px;
    color: red;
  }
}
